<!DOCTYPE html>
<html lang="en" dir="ltr">
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/learn.css') }}">
<script src="{{url_for('static', filename='js/practice.js')}}"></script>
<script>
  window.addEventListener('DOMContentLoaded', function () {
    var word = localStorage.getItem('word');
    document.getElementById('section__word').innerHTML = word;
  });
</script>
{% endblock %}

{% extends "template.html" %}
{% block content %}
<section class="container">
  <h1 class="section__title" id="section__word">Word</h1>
</section>
{% endblock %}

</html>