<!DOCTYPE html>
<html lang="en" dir="ltr">
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/learn.css') }}">
<script src="{{url_for('static', filename='js/practice.js')}}"></script>
<script>
  window.addEventListener('DOMContentLoaded', function () {
    var word = localStorage.getItem('word');
    document.getElementById('section__word').innerHTML = word;
  });
</script>
{% endblock %}

{% extends "template.html" %}
{% block content %}
<section class="container">
  <h1 class="section__title" id="section__word">Word</h1>
</section>
<!--  -->
<div style="justify-content: center; display: flex; margin-top: 30px;">
  <img src="{{ url_for('video') }}">
</div>

<!--  -->
<!-- <section class="container section-practice">
  <a href="{{ url_for('do_something') }}"><button id="practice__button">
    <i class='bx bx-dumbbell'></i> Test</button></a>
</section> -->
<!--  -->

<button onclick="performPrediction()"> Practice</button>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
  function performPrediction(){
    $.ajax({
      type: "POST",
      url: "{{ url_for('create_file') }}",
      data: { "name": "Jim"}
    })
  }
</script>




</html>